.modal-wrapper {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-image: url(../public/assets/img/cesar-couto-TIvFLeqZ4ec-unsplash.jpg);
    background-size: cover;
}
body {
  background-image: url(../public/assets/img/bharath-g-s-aLGiPJ4XRO4-unsplash.jpg);
  background-size: cover;
}

.modal-content{
  font-size: 3rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
