.winnner {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
table {
  width: 80%;
  border-collapse: collapse;
  margin: 10px;
}
td, tr, caption {
  padding: 3px;
  border: 3px solid green;
  text-align: center;
}
