.winnner {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
table {
  width: 80%;
  border-collapse: collapse;
}
td, tr, caption {
  padding: 3px;
  border: 1px solid green;
  text-align: center;
}
